{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="single_service">
                 <form action="" method="post" class="setup_centr">
                     <fieldset style="border-style:1px">
                         <legend style="text-align:center">Вход на сайт</legend>
                         <br>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" Class="btn">Авторизоваться</button>
                     </fieldset>
                 </form>
            </div>
        </div>
    </div>

{% include "inc/_footer.html" %}