{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}
   <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                         <h3>Список наших читателей</h3>
                        <p>Сайт городской библиотеки</p>
                        <form method="get" class="setup_centr">
							{{ filter.form.as_p }}
							<button type="submit" Class="btn">Применить фильтр</button>
						</form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                  {% for read in page_obj %}
                <div style="text-align:left" class="col-lg-4 col-md-6" >
                    <div class="single_service">
                        <div>
                            <p align="right"><strong>Читатильский билет: {{read.id}}</strong> </p>
                             <hr>
                            <img src="/media/{{ read.read_img }} " class="mx-auto d-block" alt="Cinque Terre" style="height: 200px; width: 150;">
                            </div>
                         <div class="service_content text-center">
                              <hr>
                             <p><strong>ФИО:</strong> {{read.fn_read}} {{read.ln_read}} {{read.fatn_read}}</p>
                         </div>
                    </div>
                </div>
        {% endfor %}
        </div>
      </div>
        <div class="section_title text-center mb-95">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
            {% endif %}
            </div>
    </div>

{% include "inc/_footer.html" %}