{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}
   <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Книги доступные каждому</h3>
                        <p>Сайт городской библиотеки</p>
          <form method="get" class="setup_centr">
                {{ filter.form.as_p }}
                <button type="submit" Class="btn">Применить фильтр</button>
            </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                  {% for book in page_obj %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div>
                            <img src="/media/{{ book.book_img }}" class="mx-auto d-block" alt="Cinque Terre" style="height: 200px; width: 150;">
                            </div>
                         <div class="service_content text-center">
                            <h3>{{ book.book_name }}</h3>
                             {% for author in book.author.all %}
                                <p> {{author.first_name}} {{ author.last_name}} {{ autor.father_name }}</p>
                             {% endfor %}
                         </div>
                    </div>
                </div>
        {% endfor %}
        </div>
                    <div class="section_title text-center mb-95">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">Предыдущий</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последний &raquo;</a>
            {% endif %}
            </div>
    </div>
   {% comment %}
     <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Submit">
    </form>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {% endcomment %}

{% include "inc/_footer.html" %}